.background {
    display: grid;
    grid-template-columns: 2fr 10fr 2fr;
    background-color: rgb(53, 7, 15);
}
.frame {
    display: grid;
    /*grid-template-columns: 1fr 10fr 1fr;*/
    background-color: rgb(110, 0, 9);
    border-radius: 20px;
    grid-column: 2;
    grid-template-rows: 50px 90px auto auto;
    padding-bottom: 50px;
}
.toolbar {
    grid-row: 1;
    

}
.links {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*grid-column: 2;*/
    
}

li {
    float: left;
    
}

li a  {
    display: block;
    
   
    color: #f2f2f2;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 17px;
    justify-self: center;
}
li a:hover {
    background-color: grey;
  }
li {
    cursor: pointer;
}
/*.menu {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 1.5%;
    float: left;
    padding-inline: 10%;
    justify-self: center;
}*/

#contact, #cart {
    float:right;
    
}

.filterMenu {
    background-color: rgba(0, 0, 0, 0.63);
    grid-row: 2;
    display: grid;
    grid-template-columns: 20% auto;
    margin-inline: 1%;
    margin-top: 1px;
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
    color: white;
    align-self: center;
    align-items: center;
}
#filterTitle {
    display: flex;
    grid-column: 1;
    margin-left: 10px;
}

.filter {
    justify-self: start;
    display: flex;
    grid-column: 2;
    float: left;
    padding-inline-start: 0px;
}
.filterList {
    list-style-type: none;
    padding-inline-start: 0px;
}
label {
    margin-right: 10px;
}

.overlay {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr auto;
    padding: 3px;
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: #38383867;
    overflow: hidden;
    width: 0;
    height: 100%;
    backdrop-filter: blur(5px);
    transition: .5s ease;
  }

#name {
    position: relative;
    grid-row: 1;
    justify-self: start;
}

#ingredients {
    position: relative;
    grid-row: 2;
    justify-self: start;
    
}

#allergens {
    position: relative;
    grid-row: 3;
    justify-self: start;
    margin-bottom: 5px;
}



#price {
    position: relative;
    grid-row: 4;
    justify-self: start;
}

#quantity {
    position: relative;
    background-color: rgba(0, 0, 0, 0.285);
    border-radius: 10px;
    grid-row: 4;
    font-size: 8px;
    padding: 5px 10px;
    justify-self: end;
}

.quantityInput {
    width: 30px;
}

.container {
    /* grid-template-columns: 1fr 1fr; */
    position: relative;
    display: block;
    grid-row: 3;
    height: fit-content;
    justify-content: center;
    margin-left: 6%;
    font-size: 60px;
    font-weight: 600;
}

.cards {
    position: relative;
        background: rgba(0, 0, 0, 0.733);
        border-radius: 9px;
        border-style:groove;    
        margin-left: 4%;
        margin-bottom: 6%;
        display: grid;
        /*grid-template-rows: 3fr 3fr 3fr 1fr;
        grid-template-columns: 1fr;*/
        font-size: 20px;
        color: white;
        box-shadow: 25px 25px 40px 0px rgba(0,0,0,0.33);
        height: 300px;
        width: 40%;
        float: left;
        overflow: hidden;
}

.img {
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row-end: span 4;
}

.allergens {
    float: left;
    margin-right: 1%;
}

.cards:hover .overlay{
    width: 100%;
    left: 0;
}

@keyframes slideLeft {
    from {
        grid-template-columns: 100%;
    }
    to {
        grid-template-columns: 1fr 1fr;
    }
}

@import url(https://fonts.googleapis.com/css?family=Cabin+Sketch:700|Patrick+Hand+SC|Waiting+for+the+Sunrise);
.formContainer{
  font-family:Patrick Hand SC;
  font-size:25px;
  /*background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSs5FtRG4p7xaINAsAJvCHPI6pwOsn3_SIupRyiZxWtG9ubWAzm');*/
  background-size:cover;
  grid-row: 4;
}
h1{
  font-family:Cabin Sketch;
  font-size:80px;
}
.form{
  background-color:#211e1e;
  color:white;
  border-radius:5px;
  height:auto;
  width:450px;
}
#wrapper{
  margin-top:-50px;
 float:center;
}
#formInput {
  font-family:Waiting for the Sunrise;
  font-size:17px;
  font-weight:bold;
}