.background {
    display: grid;
    grid-template-columns: 2fr 10fr 2fr;
    background-color: rgb(53, 7, 15);
}

.frame {
    display: grid;
    /*grid-template-columns: 1fr 10fr 1fr;*/
    background-color: rgb(110, 0, 9);
    border-radius: 20px;
    grid-column: 2;
    grid-template-rows: 50px 90px auto;
    padding-bottom: 50px;
}

.toolbar {
    grid-row: 1;


}

#pageTitle {
    font-size: 40px;
    color: white;

}

.links {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*grid-column: 2;*/

}

li {
    float: left;

}

li a {
    display: block;


    color: #f2f2f2;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 17px;
    justify-self: center;
}

li a:hover {
    background-color: grey;
}

li {
    cursor: pointer;
}

/*.menu {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 1.5%;
    float: left;
    padding-inline: 10%;
    justify-self: center;
}*/

#contact,
#cart {
    float: right;

}

.filterMenu {
    background-color: rgba(0, 0, 0, 0.63);
    grid-row: 2;
    display: grid;
    grid-template-columns: 20% auto;
    margin-inline: 1%;
    margin-top: 1px;
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
    color: white;
    align-self: center;
    align-items: center;
}

#filterTitle {
    display: flex;
    grid-column: 1;
    margin-left: 10px;
}

.filter {
    justify-self: start;
    display: flex;
    grid-column: 2;
    float: left;
    padding-inline-start: 0px;
}

.filterList {
    list-style-type: none;
    padding-inline-start: 0px;
}

label {
    margin-right: 10px;
}

.overlay {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr auto;
    padding: 3px;
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: #38383867;
    overflow: hidden;
    width: 0;
    height: 100%;
    backdrop-filter: blur(5px);
    transition: .5s ease;
}

#name {
    position: relative;
    grid-row: 1;
    justify-self: start;
}

#ingredients {
    position: relative;
    grid-row: 2;
    justify-self: start;

}

#allergens {
    position: relative;
    grid-row: 3;
    justify-self: start;
    margin-bottom: 5px;
}



#price {
    position: relative;
    grid-row: 4;
    justify-self: start;
}


.container {
    /* grid-template-columns: 1fr 1fr; */
    position: relative;
    display: block;
    grid-row: 3;
    height: fit-content;
    justify-content: center;
    margin-left: 6%;
}

.orderDiv {
    background-color: white;
    display: flex;
    align-items: baseline;
    width: 70%;
    height: fit-content;
    margin: 20px;
    font-size: 24px;
    border-radius: 8px;
    float: left;
}

.orderItems {
    padding: 6px;
    padding-inline: 10px;
}